@charset "UTF-8";
/*VARIABLES*/
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif; }

ul {
  margin-bottom: 0; }

body {
  position: relative; }

/* NAVEGADOR */
.nav__container {
  background-color: #8af7f7; }
  .nav__container .logo {
    height: 50px;
    margin-left: 15px; }
    .nav__container .logo:hover {
      transform: scale(1.1, 1.1); }
  .nav__container .boton {
    background-color: rgba(255, 255, 255, 0.61);
    border: 1px black solid; }

/* CAROUSEL */
.carousel__container {
  width: 100%;
  height: 60vh;
  position: relative; }
  .carousel__container .img__carousel {
    object-fit: cover;
    height: 100%; }

/* CATEGORIAS GENERALES */
.catgenerales__container {
  grid-area: categoriasgenerales;
  display: flex;
  flex-direction: column; }
  .catgenerales__container .catgenerales__titulo {
    display: block;
    text-align: center;
    margin-top: 40px; }
  .catgenerales__container .catgenerales__articulos {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px; }
    .catgenerales__container .catgenerales__articulos .art1 {
      margin-top: 14px;
      -webkit-box-shadow: 0px 1px 2px 0px black;
      -moz-box-shadow: 0px 1px 2px 0px black;
      box-shadow: 0px 1px 2px 0px black;
      width: 150px;
      height: 250px;
      text-align: center;
      margin: 0 15px 15px 15px;
      position: relative; }
      .catgenerales__container .catgenerales__articulos .art1 .art1__span {
        display: inline-block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: black;
        font-weight: bold;
        background-color: aliceblue; }
      .catgenerales__container .catgenerales__articulos .art1 .art1__img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        z-index: 2; }

/* FOOTER */
.footer {
  grid-area: pie;
  width: 100%;
  bottom: 0%;
  position: absolute;
  height: 219px;
  padding-top: 250px; }
  .footer .red a img {
    position: relative;
    height: 40px;
    object-fit: cover; }

/* PAGINA CONTACTO */
.contacto__titulo {
  margin-top: 25px;
  padding-bottom: 30px; }

.nombre {
  display: block;
  margin-left: 10px; }

.nombreinput {
  display: block;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 10px; }

.email {
  display: block;
  margin-left: 10px; }

.emailinput {
  display: block;
  border-radius: 2px;
  border: 1px solid black;
  margin-bottom: 10px; }

.telefono {
  display: block;
  margin-left: 10px; }

.telefonoinput, .enviarinput {
  display: block;
  margin-bottom: 10px;
  padding-left: 4px;
  border-radius: 2px;
  border: 1px solid black; }

.mensaje {
  display: block;
  margin-left: 10px; }

.mensajeinput {
  display: block;
  margin-bottom: 10px;
  padding-left: 4px;
  border-radius: 2px;
  border: 1px solid black; }

.enviarinput {
  width: 70px;
  margin: 5px; }

.mapa {
  /* width: 500px;
    height: 300px; */
  -webkit-box-shadow: 0px 1px 2px 0px black;
  -moz-box-shadow: 0px 1px 2px 0px black;
  box-shadow: 0px 1px 2px 0px black; }

/* NOSOTROS */
.nosotros__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw; }
  .nosotros__container .nosotros__titulo {
    margin-left: 25px;
    margin-top: 25px;
    padding-bottom: 50px;
    display: block; }
  .nosotros__container .nosotros__historia {
    padding: 40px; }
  .nosotros__container .nosotros__video {
    display: block;
    position: relative;
    border: black 1px solid;
    /* width: 500px;
        height: 300px; */
    margin: auto; }

/* PRODUCTOS */
.categorias__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #d2f5f5;
  margin-bottom: 35px;
  padding: 7px;
  grid-area: categorias; }
  .categorias__container .cat {
    position: relative;
    padding: 5px;
    text-align: center;
    list-style-type: none;
    width: 90px; }
    .categorias__container .cat .cat a {
      text-decoration: none;
      color: #424fff;
      list-style-type: none; }

/* OFERTAS */
.ofertas__container {
  display: block;
  margin: 25px 50px 50px 50px;
  position: relative;
  text-align: center; }
  .ofertas__container .ofertas__titulo {
    margin: auto; }
  .ofertas__container .ofertas__artcontainer {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    border-bottom: 1px black solid;
    margin: 5px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 2px 0px black;
    -moz-box-shadow: 0px 1px 2px 0px black;
    box-shadow: 0px 1px 2px 0px black;
    background-color: #f7f7f7; }
    .ofertas__container .ofertas__artcontainer .ofertas__imgcontainer {
      display: block;
      height: 200px;
      border-bottom: solid 1px #979797;
      margin: auto;
      padding: 10px; }
      .ofertas__container .ofertas__artcontainer .ofertas__imgcontainer img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        position: relative; }
    .ofertas__container .ofertas__artcontainer .ofertas__infocontainer {
      position: relative;
      width: 100%;
      height: 100px; }
      .ofertas__container .ofertas__artcontainer .ofertas__infocontainer .ofertas__arttitle {
        text-align: center;
        margin-top: 3px;
        font-size: 20px;
        color: black; }
      .ofertas__container .ofertas__artcontainer .ofertas__infocontainer .ofertas__artprice {
        display: block;
        text-align: right;
        margin-right: 10px;
        margin-top: 17px;
        font-size: 25px;
        color: #00a81c; }

.ofertas__artcontainer :hover {
  background-color: rgba(255, 255, 255, 0.185);
  z-index: 3; }

/* BAÑO */
.baño__container {
  display: block;
  margin: 50px 75px 50px 75px;
  position: relative;
  text-align: center;
  position: relative; }
  .baño__container .baño__title {
    border-bottom: black 1px solid; }
  .baño__container .baño__artcontainer {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    border-bottom: 1px black solid;
    margin: 10px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 2px 0px black;
    -moz-box-shadow: 0px 1px 2px 0px black;
    box-shadow: 0px 1px 2px 0px black;
    background-color: #f7f7f7; }
    .baño__container .baño__artcontainer .baño__art {
      text-decoration: none;
      display: inline-block;
      position: relative;
      width: 200px;
      height: 300px; }
      .baño__container .baño__artcontainer .baño__art .baño__imgcontainer {
        display: block;
        height: 200px;
        border-bottom: solid 1px #979797;
        margin: auto;
        padding: 10px; }
        .baño__container .baño__artcontainer .baño__art .baño__imgcontainer img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          position: relative; }
      .baño__container .baño__artcontainer .baño__art .baño__infocontainer {
        position: relative;
        width: 100%;
        height: 100px; }
        .baño__container .baño__artcontainer .baño__art .baño__infocontainer .baño__arttitle {
          align-items: center;
          margin-top: 3px;
          font-size: 20px;
          color: black; }
        .baño__container .baño__artcontainer .baño__art .baño__infocontainer .baño__artprice {
          display: block;
          text-align: right;
          margin-right: 10px;
          margin-top: 17px;
          font-size: 25px;
          color: #00a81c; }

/* PRODUCTOS 2 */
.estanterias__container {
  display: block;
  margin: 50px 75px 50px 75px;
  position: relative;
  text-align: center;
  grid-area: productos; }
  .estanterias__container .estanterias__title {
    border-bottom: black 1px solid; }
  .estanterias__container .estanterias__artcontainer {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 300px;
    border-bottom: 1px black solid;
    margin: 10px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 2px 0px black;
    -moz-box-shadow: 0px 1px 2px 0px black;
    box-shadow: 0px 1px 2px 0px black;
    background-color: #f7f7f7; }
    .estanterias__container .estanterias__artcontainer .estanterias__art {
      text-decoration: none; }
      .estanterias__container .estanterias__artcontainer .estanterias__art .estanterias__imgcontainer {
        display: block;
        height: 200px;
        border-bottom: solid 1px #979797;
        margin: auto;
        padding: 10px; }
        .estanterias__container .estanterias__artcontainer .estanterias__art .estanterias__imgcontainer img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          position: relative; }
      .estanterias__container .estanterias__artcontainer .estanterias__art .estanterias__infocontainer {
        position: relative;
        width: 100%;
        height: 100px; }
        .estanterias__container .estanterias__artcontainer .estanterias__art .estanterias__infocontainer .estanterias__arttitle {
          align-items: center;
          margin-top: 3px;
          font-size: 20px;
          color: black; }
        .estanterias__container .estanterias__artcontainer .estanterias__art .estanterias__infocontainer .estanterias__artprice {
          display: block;
          text-align: right;
          margin-right: 10px;
          margin-top: 17px;
          font-size: 25px;
          color: #00a81c; }

/* MOVIL */
@media (max-width: 479px) {
  nav {
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  #barrabuscador {
    max-width: 320px; }
  .mapa {
    width: 300px;
    height: 200px;
    margin: 10px; }
  .contacto__titulo {
    text-align: center; }
  .nosotros__titulo {
    text-align: center;
    margin: 15px 0 0 0; }
  .nosotros__video {
    width: 300px;
    height: 200px; }
  .ofertas__titulo {
    text-align: center; }
  .ofertas__container {
    margin: 50px 75px 50px 75px;
    text-align: center; }
  .ofertas__boton {
    display: none; }
  .ofertas__artprice {
    margin: 0 auto; } }

/* TRANSFORMACIONES */
@media (min-width: 994px) {
  .opc:hover {
    transform: scale(1.1, 1.1); } }

.cat a:hover {
  color: black; }

/* TRANSICIONES */
.logo {
  animation: logoanimado 1s linear 0s 1 reverse none; }

@keyframes logoanimado {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }

.opc {
  animation: opcanimado 1s linear 0s 1 reverse none; }

@keyframes opcanimado {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }

.buscador {
  animation: buscadoranimado 1s linear 0s 1 reverse none; }

@keyframes buscadoranimado {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-100px); } }
