$colores:(
    celeste: rgb(138, 247, 247),
    celeste-claro:rgb(210, 245, 245),
    verde-precio: rgb(0, 168, 28),
    gris: rgba(255, 255, 255, 0.61),
    gris-claro: rgb(240, 248, 255),
    azul:rgb(66, 79, 255),
);