// IMPORT
@import "mapa";
@import "mixin";



/*VARIABLES*/
$fuente:  'Nunito', sans-serif;


*{
    margin: 0;
    padding: 0;
    font-family: $fuente;
    
}
ul{
    margin-bottom: 0;
}

body{
    position: relative;    
}



/* NAVEGADOR */
 
.nav__container{
     background-color: map-get($map:$colores, $key:celeste );
        .logo{
            height: 50px;
            margin-left: 15px;
            &:hover{transform: scale(1.1,1.1)
            }
        }
        .boton{
        background-color: map-get($map:$colores , $key:gris );
        border: 1px black solid;
        }
}




/* CAROUSEL */

.carousel__container{
    @include tamanio(100%,60vh);
    position: relative;
    .img__carousel{
        object-fit: cover;
       height: 100%;
    }
}



/* CATEGORIAS GENERALES */

.catgenerales__container{
    grid-area: categoriasgenerales;
    display: flex;
    flex-direction: column;
    .catgenerales__titulo{
        display: block;
        text-align: center;
        margin-top: 40px;
    }
    .catgenerales__articulos{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
        .art1{
    
            margin-top: 14px;
            -webkit-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
            width: 150px;
            height: 250px;
            text-align: center;
            margin: 0 15px 15px 15px;
            position: relative;
            .art1__span{
                display: inline-block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                color: rgb(0, 0, 0);
                font-weight: bold;
                background-color: map-get($map:$colores, $key:gris-claro);
            }
            
            .art1__img{
                object-fit: contain;
                width: 100%;
                height: 100%;
                z-index: 2;
            }
        }   
    }
}



/* FOOTER */
.footer{
    grid-area: pie;
    width: 100%;
    bottom: 0%;
    position: absolute;
    height: 219px;
    padding-top: 250px;
    .red a img{
        position: relative;
        height: 40px;
        object-fit: cover;
        
        
    }
} 
    


/* PAGINA CONTACTO */

.contacto__titulo{
    
    margin-top: 25px;
    padding-bottom: 30px;
}

.nombre{
display: block;
margin-left: 10px;

}

.nombreinput{
    display: block;
      
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.email{
    display: block;
    margin-left: 10px;

}

.emailinput{
    display: block;
    
    
    
    border-radius: 2px;
    border: 1px solid black;
    margin-bottom: 10px;
    
}

.telefono{
    display: block;
    margin-left: 10px;
}
.telefonoinput{
    display: block;
    margin-bottom: 10px;
    
    padding-left: 4px;
    border-radius: 2px;
    border: 1px solid black;
  
    
}

.mensaje{
    display: block;
    margin-left: 10px;
}

.mensajeinput{
    display: block;
    margin-bottom: 10px;
    
    padding-left: 4px;
   border-radius: 2px;
   border: 1px solid black;
  
}

@import "extend";

.mapa{
    /* width: 500px;
    height: 300px; */
    -webkit-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
-moz-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
}

 /* NOSOTROS */

.nosotros__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    .nosotros__titulo{
        margin-left: 25px;
        margin-top: 25px;
        padding-bottom: 50px;
        display: block;
    }
    .nosotros__historia{
        padding: 40px;
    }
    
    
     .nosotros__video{
         display: block;
         position: relative;
         border: black 1px solid;
         /* width: 500px;
        height: 300px; */
        margin: auto;
     }
}




     /* PRODUCTOS */

.categorias__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:map-get($map:$colores , $key:celeste-claro );
    margin-bottom: 35px;
    padding: 7px;
    grid-area: categorias;
    
    .cat{
        position: relative;
        padding: 5px;
        
        text-align: center;
        list-style-type: none; 
        width: 90px;
        .cat a{
            text-decoration: none;
            color: map-get($map:$colores, $key:azul );
            list-style-type: none;
        }
    }
}


    /* OFERTAS */



.ofertas__container{
    display: block;
    margin: 25px 50px 50px 50px;
    position: relative;
    text-align: center;
    .ofertas__titulo{
        margin: auto;
    }
    .ofertas__artcontainer{
        display: inline-block;
        position: relative;
        width: 200px;  
        height: 300px;
        border-bottom: 1px black solid;
        margin: 5px;
        text-decoration: none;
        -webkit-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        background-color: rgb(247, 247, 247);
    
        .ofertas__imgcontainer{
            display: block;
            height: 200px;
            border-bottom: solid 1px rgb(151, 151, 151);
            margin: auto;
            padding: 10px;

            img{
                object-fit: contain;
                width: 100%;
                height: 100%;
                position: relative;
                
                
            }
        }
        .ofertas__infocontainer{
            position: relative;
            width: 100%;
            height: 100px;

            .ofertas__arttitle{
                text-align: center;
                margin-top: 3px;
                font-size: 20px;
                color: black;
            }
            
            .ofertas__artprice{
                display: block;
                text-align: right;
                margin-right: 10px;
                margin-top: 17px;
                font-size: 25px;
                color: map-get($map:$colores , $key:verde-precio );
            }
        }
    }
}



.ofertas__artcontainer :hover{
    background-color: rgba(255, 255, 255, 0.185);
    z-index: 3;
}


    /* BAÑO */

.baño__container{
    display: block;
    margin: 50px 75px 50px 75px;
    position: relative;
    text-align: center;
    position: relative;

    .baño__title{
        border-bottom: black 1px solid;
    }

    .baño__artcontainer{
        display: inline-block;
        position: relative;
        width: 200px;  
        height: 300px;
        border-bottom: 1px black solid;
        margin: 10px;
        text-decoration: none;
        -webkit-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        background-color: rgb(247, 247, 247);

        .baño__art{
            text-decoration: none;
            display: inline-block;
            position: relative;
            width: 200px;  
            height: 300px;

            .baño__imgcontainer{
                display: block;
                height: 200px;
                border-bottom: solid 1px rgb(151, 151, 151);
                margin: auto;
                padding: 10px;
                
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    
                }
            }
            .baño__infocontainer{
                position: relative;
                width: 100%;
                height: 100px;

                .baño__arttitle{
                    align-items: center;
                    margin-top: 3px;
                    font-size: 20px;
                    color: black;
                    
                }
                
                .baño__artprice{
                    display: block;
                    text-align: right;
                    margin-right: 10px;
                    margin-top: 17px;
                    font-size: 25px;
                    color: map-get($map:$colores, $key: verde-precio );
                }
            }    
        }

    }

}





 /* PRODUCTOS 2 */


 
.estanterias__container{
    display: block;
    margin: 50px 75px 50px 75px;
    position: relative;
    text-align: center;
    grid-area: productos;

    .estanterias__title{
        border-bottom: black 1px solid;
    }

    .estanterias__artcontainer{
        display: inline-block;
        position: relative;
        width: 200px;  
        height: 300px;
        border-bottom: 1px black solid;
        margin: 10px;
        text-decoration: none;
        -webkit-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        -moz-box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        box-shadow: 0px 1px 2px 0px rgb(0, 0, 0);
        background-color: rgb(247, 247, 247);

        .estanterias__art{
            text-decoration: none;

            .estanterias__imgcontainer{
                display: block;
                height: 200px;
                border-bottom: solid 1px rgb(151, 151, 151);
                margin: auto;
                padding: 10px;
                
                img{
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                    position: relative;
                }
                
            
            }
            .estanterias__infocontainer{
                position: relative;
                width: 100%;
                height: 100px;

                .estanterias__arttitle{
                    align-items: center;
                    margin-top: 3px;
                    font-size: 20px;
                    color: black;
                    
                }
                
                .estanterias__artprice{
                    display: block;
                    text-align: right;
                    margin-right: 10px;
                    margin-top: 17px;
                    font-size: 25px;
                    color: rgb(0, 168, 28);
                }    
            }
        }

    }
    
}



/* MOVIL */
@media (max-width: 479px) {

   nav{
       height: 25vh;
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   #barrabuscador{
       max-width: 320px;
   }

   .mapa{
    width: 300px;
    height: 200px;
    margin: 10px;
   }

   .contacto__titulo{
       text-align: center;
   }

   .nosotros__titulo{
       text-align: center;
       margin: 15px 0 0 0;
   }

   .nosotros__video{
       width: 300px;
       height: 200px;
   }

   .ofertas__titulo{
       text-align: center;
   }

   .ofertas__container{
    margin: 50px 75px 50px 75px;
    text-align: center;
   }

   .ofertas__boton{
       display: none;
   }

   .ofertas__artprice{
       margin: 0 auto;
   }
}




/* TRANSFORMACIONES */


@media (min-width: 994px){
    .opc:hover{
        transform: scale(1.1,1.1);
    }
}


.cat a:hover{
    color: black;
}

/* TRANSICIONES */

.logo{
    animation: logoanimado 1s linear 0s 1 reverse none;
}



@keyframes logoanimado {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }

  .opc{
    animation: opcanimado 1s linear 0s 1 reverse none;
}



@keyframes opcanimado {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }

  .buscador{
    animation: buscadoranimado 1s linear 0s 1 reverse none;
}



@keyframes buscadoranimado {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100px);
    }
  }